.contact-form {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 50px;
  padding: 0px 100px;
}

#message-input {
  text-align: left;
  height: 35vh;
  font-size: 18px;
  resize: none;
  vertical-align: text-top;
  padding: 30px;
  border: 1px solid var(--light-color);
  width: 100%;
  box-sizing: border-box;
}

.contact-form-col-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.contact-form-col-1-row-1 {
  padding: 0px 0px 20px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.contact-form-col-1-row-2 {
  display: grid;
  align-content: center;
  grid-row-gap: 20px;
}

.meeting-details-title {
  font-size: 22px;
  padding-right: 5px;
  font-weight: 600;
  display: inline-block;
}

.meeting-details-value {
  display: inline-block;

  font-size: 20px;
  /* line-height: 30px; */
  font-weight: normal;
  word-wrap: break-word;
}

.contact-form-col-1-row-1 > input {
  resize: none;
  font-size: 18px;
  padding-left: 30px;
  border: 1px solid var(--light-color);
}

.button {
  display: grid;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 100px;
}

@media (max-width: 1400px) {
  .contact-form {
    padding: 0px;
  }
  .button {
    padding: 50px 0px;
  }
}

@media (max-width: 1000px) {
  .contact-form-col-1-row-1 {
    grid-area: form-row-1;
  }

  .contact-form-col-1-row-2 {
    grid-area: form-row-2;
  }
  .contact-form {
    grid-template-columns: 1fr;
  }
  .contact-form-col-1 {
    grid-template-areas:
      "form-row-2"
      "form-row-1";
    grid-row-gap: 50px;
  }

  .contact-form-col-1-row-1 {
    padding: 0px;
    grid-row-gap: 10px;
  }

  .contact-form-col-1-row-1 > input {
    padding: 20px;
  }
  #message-input {
    padding: 20px;
  }
  .meeting-room,
  .meeting-time,
  .meeting-day {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .meeting-details-title {
    font-size: 18px;
  }
  .meeting-details-value {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  #message-input {
    font-size: 14px;
  }

  .contact-form-col-1-row-1 > input {
    font-size: 14px;
  }
}
