.form-component {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 4em;
}

.form-component .form-component--img {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-component .form-component--img img {
	width: 90%;
}

.form-component .form-component--input {
	display: flex;
	flex-direction: column;
}

.form-component .form-component--input .form-inputs input,
.form-component .form-component--input textarea {
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
	font-size: 17px;
	opacity: 0.9;
	border-radius: 5px;
	margin: 10px 0;
	padding: 25px 30px;
	background-color: #f5f5f5 !important;
	border: none;
}

.form-component .form-component--input button {
	border: none;
	background-color: #ff3463;
	color: white;
	border-radius: 5px;
	box-shadow: 1px 1px #e1e1e1;
	box-sizing: border-box;
	width: 120px;
	height: 40px;
	margin-top: 10px;
	align-self: flex-end;
}

@media (max-width: 1200px) {
	.form-component {
		grid-template-columns: 1fr;
	}

	.form-component .form-component--img {
		margin-bottom: 30px;
	}
	.form-component .form-component--input .form-inputs input,
	.form-component .form-component--input textarea {
		padding: 20px;
	}

	.form-component .form-component--img img {
		width: 50%;
	}
}

@media (max-width: 900px) {
	.form-component .form-component--img img {
		width: 80%;
	}
}

@media (max-width: 600px) {
	.form-component .form-component--img img {
		width: 100%;
	}
}
