.teamCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

@media (max-width: 1550px) {
  .teamCardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 1300px) {
  .teamCardList {
    display: grid;
    padding: 0px 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}

@media (max-width: 1100px) {
  .teamCardList {
    padding: 0px 50px;
  }
}

@media (max-width: 950px) {
  .teamCardList {
    padding: 0px;
  }
}
@media (max-width: 850px) {
  .teamCardList {
    grid-gap: 20px;
  }
}

@media (max-width: 750px) {
  .teamCardList {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 100px;
  }
}

@media (max-width: 700px) {
  .teamCardList {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 50px;
  }
}

@media (max-width: 550px) {
  .teamCardList {
    margin: 0px;
  }
}
