.Button3 {
  width: 150px;
  background: #fff;
  display: grid;
  padding: 13px 3px;
  border: 1px solid var(--light-color);
  grid-column-gap: 10px;
  font-size: 14px;
  grid-template-columns: auto auto;
}

.icon {
  display: grid;
  justify-content: flex-end;
  align-content: center;
}

a {
  text-decoration: none;
  color: black;
}
