.about {
  text-align: left;
  width: 80%;
  color: #888888;
}

@media (max-width: 1000px) {
  .about {
    width: 90%;
  }
  .title {
    padding-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .about {
    width: 100%;
  }
}
