.about {
  background: #fafbfc;
  text-align: center;
  padding: 100px;
}

@media (max-width: 1400px) {
  .about {
    padding: 100px;
  }
}

@media (max-width: 1000px) {
  .about {
    padding: 50px;
  }
  .title {
    padding-bottom: 30px;
  }
}
