.imageView {
  text-align: center;
}
@media (max-width: 1000px) {
  .imageView img {
    min-width: 40vh !important;
    max-width: 40vh !important;
  }
}

@media (max-width: 600px) {
  .imageView img {
    min-width: 40vh !important;
    max-width: 40vh !important;
  }
}
