.Section5 {
  min-height: 100vh;
  padding: 100px 200px;
}

.title {
  text-align: center;
}

.team-cardlist {
  padding-bottom: 100px;
}

@media (max-width: 1700px) {
  .Section5 {
    padding: 100px;
  }
}

@media (max-width: 1200px) {
  .Section5 {
    padding: 100px 50px;
  }
}
