.navbar-component {
	display: flex;
	box-sizing: border-box;
	padding: 30px 0;
	justify-content: space-between;
}

.navbar-component .navbar-component--logo {
	display: flex;
}

.navbar-component .navbar-component--logo img {
	height: 50px;
}

.navbar-component .navbar-component--links {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navbar-component .navbar-component--links a {
	text-decoration: none;
	margin: 0 10px;
	color: #1e2053;
	font-weight: 500;
	font-weight: 600;
}

.navbar-component #burger {
	display: none;
}

@media only screen and (max-width: 900px) {
	.navbar-component {
		display: grid;
		grid-template-rows: 1fr 1fr;
		justify-content: center;
	}

	.navbar-component .navbar-component--logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navbar-component .navbar-component--links {
		margin-top: 40px;
	}
}

@media only screen and (max-width: 650px) {
	.navbar-component .navbar-component--links {
		display: flex;
		flex-direction: column;
		display: none;
	}

	.navbar-component #burger {
		display: block;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.home-section .home-section--wrapper {
		margin: 0;
	}

	.navbar-component .navbar-component--logo img {
		height: 40px;
	}
}
