@import url("https://fonts.googleapis.com/css?family=Work+Sans");

* {
  font-family: "Work Sans", sans-serif;
}

.toolbar {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  /* background: rgb(255, 255, 255, 0.7); */
  /* padding-bottom: 20px; */
  /* border-bottom: 1px solid red; */
  height: var(--height);
}

.toolbar_logo {
  margin-left: 1rem;
}

#item1,
#item2,
#item3,
#item4,
#item5 {
  color: var(--main-text-color);
  position: relative;
  text-decoration: none;
}
/* #item3:hover,
#item4:hover {
  color: #0b4566;
} */

#item3::before,
#item4::before,
#item5::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--main-text-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#item3:hover:before,
#item4:hover:before,
#item5:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#item1::before,
#item2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--main-text-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#item1:hover:before,
#item2:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.toolbar_logo {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-left: 150px;
}

.toolbar_logo > a > img {
  width: 230px;
}

.toolbar_navigation {
  /* height: 100%; */
  padding: 0 1rem;
  display: flex;
  /* justify-content: flex-end; */
  justify-self: flex-end;
  margin-right: 150px;
  margin-top: 40px;
  align-items: center;
}

.toolbar_toggle-button {
  /* margin-left: 5%;
  margin-top: 2%; */
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items {
  justify-self: flex-end;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 1.5rem;
}

.toolbar_navigation-items a {
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .hireMeButton {
    display: none;
  }
}

@media (max-width: 1600px) {
  .toolbar_navigation-items {
    display: none;
  }
  .toolbar_logo {
    margin-left: 120px;
  }
}

@media (min-width: 1601px) {
  .toolbar_toggle-button {
    display: none;
  }
}

@media (max-width: 1500px) {
  .toolbar_navigation {
    margin-right: 120px;
  }
}

@media (max-width: 900px) {
  .toolbar_navigation {
    margin-right: 80px;
  }

  .toolbar_logo {
    margin-left: 80px;
  }
}

@media (max-width: 800px) {
  .toolbar_navigation {
    margin-right: 50px;
  }

  .toolbar_logo {
    margin-left: 50px;
  }
}

@media (max-width: 700px) {
  .toolbar_logo > a > img {
    width: 180px;
  }
  .toolbar_logo {
    margin-top: 54px;
  }
}

@media (max-width: 550px) {
  .toolbar_logo > a > img {
    width: 140px;
  }
  .toolbar_logo {
    margin-top: 57px;
  }
}

@media (max-width: 450px) {
  .toolbar_logo {
    margin-left: 40px;
  }

  .toolbar_navigation {
    margin-right: 40px;
  }
}
