.teamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(48,48,48,0.12);
  -moz-box-shadow: 0px 0px 45px 0px rgba(48,48,48,0.12);
  box-shadow: 0px 0px 45px 0px rgba(48,48,48,0.12);
}

.teamCardImage {
  justify-content: center;
}
.teamCardImage img {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.teamCard .teamInformation {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.teamCard .teamInformation img {
  height: 30px;
  width: 30px;
}

.teamCardName {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px 5px 0px;
  color: #6A6A6A;
}

.teamCard p {
  color: #B1B1B1;
}
 
.teamCardWebsite {
  justify-self: center;
  height: 36px;
  width: 36px;
  background-color: #ff5661;
  border-radius: 50%;
  box-shadow: 0px 1px 1px;
}

.teamCardWebsite > a > i {
  padding: 10px;
  color: white;
  font-size: 15px;
}



.plusTeamCard {
  color: white;
  text-decoration: none;
  font-size: 26px;
}

.plusTeamCard {
  display: grid;
  height: 36px;
  width: 36px;
  align-items: center;
}


@media (max-width: 1650px) {
  .teamCard {
    padding: 20px 25px;
  }
}

@media (max-width: 1550px) {
  .teamCardImage img {
    width: 230px;
  }
}

@media (max-width: 1500px) {
  .teamCardImage img {
    width: 230px;
  }
}

@media (max-width: 1400px) {
  .teamCardName {
    font-size: 20px;
  }
 
}

@media (max-width: 800px), (max-width: 500px) {
  .teamCardName {
    font-size: 18px;
  }
  
  .teamCardImage > img {
    width: 200px;
  }

}
@media (max-width: 750px) {
  .teamCardWebsite {
    justify-self: center;
    height: 36px;
    width: 36px;
    background-color: #ff5661;
    border-radius: 50%;
    box-shadow: 0px 1px 1px;
  }

  .plusTeamCard {
    color: white;
    text-decoration: none;
    font-size: 26px;
  }

  .plusTeamCard {
    display: grid;
    height: 36px;
    width: 36px;
    align-items: center;
  }

  .teamCardImage > img {
    width: 230px;
  }

  .teamCardName {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .teamCardName {
    font-size: 18px;
  }
  .teamCardImage > img {
    width: 200px;
  }
  .plusTeamCard {
    color: white;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .teamCard {
    padding: 20px 15px;
  }
}

@media (max-width: 420px) {
  .teamCardName {
    font-size: 16px;
  }
  .teamCardImage > img {
    width: 170px;
  }
 
  .linkedInCircle {
    height: 25px;
    width: 25px;
  }

  .plusTeamCard {
    color: white;
    width: 25px;
    height: 25px;
    text-decoration: none;
    font-size: 20px;
  } 
}
