.Section6 {
  grid-column: 2;
}

.contactDiv {
  text-align: center;
  padding-bottom: 100px;
}

.contactDiv > .about > div > div{
  position: relative;
  left:15%;
}

@media(max-width: 1000px) {
  .contactDiv > .about > div > div{
    left:7%;
  }
}

@media(max-width: 750px) {
  .contactDiv > .about > div > div{
    left:0%;
  }
}