.Section6 {
  min-height: 100vh;
  grid-column: 2;
  background: #fafbfc;
}
.contactDiv {
  text-align: center;
  padding-bottom: 100px;
}
@media (max-width: 1700px) {
  .Section6 {
    padding: 100px;
  }
}

@media (max-width: 700px) {
  .Section6 {
    padding: 100px 50px;
  }
}
