.footer-container {
  padding: 50px 300px 30px 300px;
  display: grid;
  grid-template-rows: 2fr 0.5fr 1fr;
  grid-row-gap: 20px;
  background-color: #333333;
  color: white;
}

.footer-container a {
  color: white;
  text-decoration: none;
}

.footer-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.footer-logo {
  font-size: 28px;
}

.footer-navigation {
  justify-self: center;
  align-content: center;
}

.footer-social {
  justify-self: flex-end;
  align-content: center;
}

.footer-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#footer-hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 0.5px solid #444444;
  margin: 1em 0;
  padding: 0;
}

.terms-and-privacy {
  justify-self: flex-end;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 20px;
}

.footer-navigation > * {
  width: 100%;
}

.footer-social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 20px;
}

.footer-rights {
  color: var(--darker-color);
}

.greenDot {
  color: #35bc5d;
}

.terms-and-privacy {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.fab .fa-facebook {
  color: black;
}

@media (max-width: 1700px) {
  .footer-container {
    padding: 50px 200px 30px 200px;
  }
}

@media (max-width: 1400px) {
  .footer-container {
    padding: 50px 100px 30px 100px;
  }
}

@media (max-width: 1000px) {
  .footer-row-1 {
    grid-template-columns: 1.5fr 1.5fr 1fr;
  }
}

@media (max-width: 860px) {
  .footer-row-1 {
    grid-column-gap: 25px;
  }
  .footer-row-3 {
    grid-column-gap: 25px;
  }
}
