.footer-container {
  padding: 30px 70px 50px 150px;
  display: grid;
  grid-template-rows: 2fr 0.5fr;
  grid-row-gap: 20px;
  background-image: linear-gradient(#FFFFFF,#FFF2F2);
  color: black;
  grid-column: 1/4;
}

.footer-row-1 {
  display: grid;
  grid-template-columns: 1fr 2fr 0.95fr;
  align-content: center;
  padding-bottom: 40px;
}

.footer-logo {
  display: grid;
  width: 70px;
}

.footer-logo-container {
  align-content: center;
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-column-gap: 10px;
}

.footer-logo-container > span {
  line-height: 70px;
  font-size: 30px;
  vertical-align: middle;
  display: grid;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 15px;
  justify-self: center;
  align-content: center;
}

.social-icons > img {
  display: grid;
  height: 20px;
}

.footer-navigation {
  justify-self: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-column-gap: 20px;
}

.footer-navigation-item {
  white-space: nowrap;
}

@media(max-width: 1350px) {
  .footer-logo{
    width: 45px;
  }
  
  .footer-logo-container > span {
    line-height: 45px;
    font-size: 21px;
  }

  .copyright,
  .footer-navigation {
    font-size: 0.8em;
  }

  .social-icons > img {
    height: 18px;
  }
}

@media(max-width: 1050px) {
  .footer-container{
    padding: 30px 50px 50px 100px;
  }

  .footer-row-1 {
    padding-bottom: 25px;
  }

  .footer-logo{
    width: 35px;
  }
  
  .footer-logo-container > span {
    line-height: 35px;
    font-size: 17px;
  }

  .copyright,
  .footer-navigation {
    font-size: 0.6em;
  }

  .social-icons > img {
    height: 15px;
  }
}

@media(max-width: 900px) {
  .footer-container {
    padding: 25px 30px 40px 60px;
  }

  .footer-logo{
    width: 35px;
  }
  
  .footer-logo-container > span {
    line-height: 35px;
    font-size: 17px;
  }

  .copyright,
  .footer-navigation {
    font-size: 0.6em;
  }

  .social-icons > img {
    height: 12px;
  }

  .footer-logo-container {
    grid-column-gap: 5px;
  }
}

@media(max-width: 700px) {
  .footer-container{
    padding: 25px 30px 35px 30px;
  }

  .footer-row-1 {
    padding-bottom: 15px;
  }

  .footer-logo{
    width: 30px;
  }
  
  .footer-logo-container > span {
    line-height: 30px;
    font-size: 15px;
  }

  .copyright,
  .footer-navigation {
    font-size: 0.6em;
  }

  .social-icons > img {
    height: 11px;
  }
}