.footer-component {
	grid-column: 1/4;
	box-sizing: border-box;
	display: grid;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 230, 230, 1) 100%
	);
	color: black;
	grid-template-columns: minmax(10vw, 1fr) minmax(0, 90rem) minmax(10vw, 1fr);
	padding: 50px 0;
}

.footer-component .footer-component--wrapper {
	grid-column: 2;
}

.footer-component--wrapper__top {
	display: flex;
	justify-content: space-between;
}

.footer-component--wrapper__top .footer-component--wrapper__top--logo img {
	width: 70px;
	margin-right: 20px;
}

.footer-component--wrapper__top .footer-component--wrapper__top--logo p {
	font-size: 25px;
}

.footer-component--wrapper__top .footer-component--wrapper__top--logo,
.footer-component
	.footer-component--wrapper
	.footer-component--wrapper__top--navigation,
.footer-component
	.footer-component--wrapper
	.footer-component--wrapper__top--social {
	display: flex;
	align-items: center;
}

.footer-component
	.footer-component--wrapper
	.footer-component--wrapper__top--social
	img {
	height: 30px;
	margin-left: 20px;
}

.footer-component--wrapper__top--navigation .footer-navigation-item a {
	margin-right: 40px;
	text-decoration: none;
	color: #000000;
}

.footer-component--wrapper__bottom {
	margin-top: 40px;
}

@media (max-width: 1450px) {
	.footer-component--wrapper__top--navigation .footer-navigation-item a {
		margin-right: 20px;
		text-decoration: none;
		color: #000000;
		font-size: 15px;
	}
}

@media (max-width: 1200px) {
	.footer-component--wrapper__top {
		flex-direction: column;
	}

	.footer-component--wrapper__top div {
		margin: 20px;
	}

	.footer-component--wrapper__top .footer-component--wrapper__top--logo,
	.footer-component
		.footer-component--wrapper
		.footer-component--wrapper__top--social {
		justify-content: center;
	}

	.footer-component--wrapper__bottom {
		text-align: center;
	}

	.footer-component--wrapper__top--navigation {
		justify-content: space-around;
	}
	.footer-component--wrapper__top--navigation .footer-navigation-item a {
		margin: 0;
	}
}

@media (max-width: 780px) {
	.footer-component--wrapper__top .footer-component--wrapper__top--logo img {
		margin: 0;
	}

	.footer-component--wrapper__top .footer-component--wrapper__top--logo,
	.footer-component
		.footer-component--wrapper
		.footer-component--wrapper__top--navigation {
		flex-direction: column;
		justify-content: center;
	}

	.footer-component
		.footer-component--wrapper
		.footer-component--wrapper__top--social {
		justify-content: center;
		margin-top: 20px;
	}

	.footer-component--wrapper__top--navigation .footer-navigation-item a {
		margin: 0;
	}

	.footer-component--wrapper__top--navigation .footer-navigation-item {
		margin: 10px 0;
	}
}
