.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 400px;
}

#Prototyping {
  border-right: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
  padding: 80px 30px 30px 30px;
}
#Branding {
  border-right: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
  padding: 80px 30px 30px 30px;
}
#Development {
  border-bottom: 1px solid var(--light-color);
  padding: 80px 30px 30px 30px;
}
#Strategy {
  padding-top: 40px;
  border-right: 1px solid var(--light-color);
  padding: 80px 30px 30px 30px;
}
#Analytic {
  border-right: 1px solid var(--light-color);
  padding: 80px 20px 30px 30px;
}
#Testing {
  /* border-right: 1px solid gray;
  border-bottom: 1px solid gray; */
  padding: 80px 30px 30px 30px;
}
