.home-content {
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  justify-content: space-between;
}

.main-content {
  display: block;
  height: fit-content;
  width: 48%;
  margin: auto;
}

.text1 {
  color: #ff0844;
  font-size: 2.7vw;
}

.text2 {
  margin-top: 80px;
  font-size: 3.7vw;
}

a.contact-button {
  /*need to change color here*/
  background-color: #ff3463;
  color: white;
  box-shadow: 0 5px 0 darkred;

  display: block;

  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 78px;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8vw;
  width: fit-content;
  text-align: center;
}

a.contact-button:hover {
  /*need to change color here*/
  background-color: indianred;
}

a.contact-button:active {
  box-shadow: none;
  margin-top: 83px;
}

.home-content img {
  width: 48%;
  margin: auto;
}

/*Media queries*/
@media all and (max-width: 768px) {
  .home-content {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    width: 96%;
  }

  .home-content img {
    width: 96%;
    margin: 80px auto 0;
  }

  .text1 {
    font-size: 5vw;
    text-align: center;
  }

  .text2 {
    font-size: 4.7vw;
    text-align: center;
    text-transform: capitalize;
  }

  a.contact-button {
    font-size: 2vw;
    margin: 80px auto;
  }
}

@media all and (max-width: 425px) {
  .text1 {
    font-size: 10vw;
  }

  .text2 {
    font-size: 8vw;
  }

  a.contact-button {
    font-size: 3.5vw;
  }
}
