.home-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 100px 0px;
}

.text1 {
	color: #FF0844;
}

.text2 {
	margin-top: 80px;
	font-size: 70px;
	max-width: 648px;
}

a.contact-button {
	/*need to change color here*/
	background-color: #FF3463;
	color: white;
	box-shadow: 0 5px 0 darkred;

	display: block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 78px;
	width: 120px;
	text-align: center;
}

a.contact-button:hover {
	/*need to change color here*/
	background-color: indianred;
}

a.contact-button:active {
	box-shadow: none;
	margin-top: 83px;
}

.img {
	align-content: center;
}