.home-content {
	display: flex;
	flex-direction: row;
	margin: auto 0px;
	justify-content: space-between;
}

.main-content {
	display: block;
	height: fit-content;
	width: 48%;
	margin: auto;
}

.text1 {
	color: #FF0844;
	font-size: 2.7vw;
}

.text2 {
	margin-top: 80px;
	font-size: 3.7vw;
}

a.contact-button {
	/*need to change color here*/
	background-color: #FF3463;
	color: white;
	box-shadow: 0 5px 0 darkred;

	display: block;

	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 78px;

	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 0.8vw;
	width: fit-content;
	text-align: center;
}

a.contact-button:hover {
	/*need to change color here*/
	background-color: indianred;
}

a.contact-button:active {
	box-shadow: none;
	margin-top: 83px;
}

.home-content img {
	width: 48%;
	margin: auto;
}

/*Media queries*/

