.card {
  display: grid;
  text-align: center;
  /* width: 90%; */
}

.plusButton {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.cardTitle {
  font-size: 26px;
  padding: 30px;
}

.cardDescription {
  color: var(--main-text-color);
  font-size: 18px;
}

.plusButton a {
  margin-top: 15px;
  text-decoration: none;
  font-size: 32px;
  color: white;
}

.plus {
  background: #395aff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media (max-width: 1300px) {
  .cardTitle {
    font-size: 24px;
  }
  .cardDescription {
    font-size: 17px;
  }
  .plusButton a {
    font-size: 28px;
  }
  .plus {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 1200px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardDescription {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .cardTitle {
    font-size: 19px;
    padding: 15px;
  }

  .cardDescription {
    font-size: 14px;
  }
  .cardImage > img {
    width: 40px;
  }
  .plus {
    width: 30px;
    height: 30px;
  }
  .plusButton a {
    font-size: 25px;
  }
}
