.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.card .cardTitle {
  font-size: 26px;
  text-align: left;
}

.card a{
  text-align: left;
  margin-left: 40px;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
}

.card .card-square {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  /* background-color: gold; */
  margin-bottom: 35px;
}

.card .cardTitle h2 span {
  font-weight: 500;
  font-size: 24px;
  color: #9E9E9E;
}


@media (max-width: 1300px) {
  .cardTitle {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .cardTitle {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  .cardTitle {
    font-size: 19px;
    padding: 15px;
  }
}
