:root {
  --main-text-color: #7a7a7a;
  --secondary-text-color: #7a7a7a;
  --light-color: #e0dfdf;
  --darker-color: #878787;
  --height: 100px;
}

.section-1 {
  text-align: center;
  display: grid;
  height: 100vh;
  color: var(--main-text-color);
}

.landing-page-logo {
  /* align-self: center; */
  width: 100%;
}

* {
  /* border: 2px solid black; */
}
