:root {
  --main-text-color: #7a7a7a;
  --secondary-text-color: #7a7a7a;
  --light-color: #e0dfdf;
  --darker-color: #878787;
  --height: 100px;
}

* {
  /* border: 2px solid black; */
}

@media (max-height: 600px) {
}
